In [1]:
import pandas as pd

In [8]:
df = pd.read_parquet("./data/",engine="pyarrow")
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
__null_dask_index__,,,,,,,,,,,,,,,,,,,,,
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,None
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [9]:
df.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,7.784664e+06,7.784664e+06,7.784617e+06,7.169816e+06,7.171188e+06,7.697816e+06,7.697816e+06,7.784664e+06,7.697816e+06,7.697816e+06
mean,7.026439e+06,1.185918e+03,1.129466e+01,2.275420e+01,3.748472e+01,1.164601e+06,1.885783e+06,2.009944e+03,4.184218e+01,-8.767149e+01
std,3.502657e+06,7.031335e+02,6.952422e+00,1.385106e+01,2.154115e+01,1.684658e+04,3.227531e+04,6.260628e+00,8.879598e-02,6.108257e-02
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.792574e+06,6.210000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152976e+06,1.859073e+06,2.005000e+03,4.176871e+01,-8.771367e+01
50%,7.029327e+06,1.034000e+03,1.000000e+01,2.300000e+01,3.200000e+01,1.166110e+06,1.890730e+06,2.009000e+03,4.185591e+01,-8.766584e+01
75%,1.013113e+07,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176372e+06,1.909273e+06,2.015000e+03,4.190677e+01,-8.762819e+01
max,1.305643e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.023000e+03,4.202291e+01,-8.752453e+01

In [25]:
df.dtypes

ID                               int64
Case Number                     object
Date                    datetime64[ns]
Block                           object
IUCR                            object
Primary Type                    object
Description                     object
Location Description            object
Arrest                            bool
Domestic                          bool
Beat                             int64
District                       float64
Ward                           float64
Community Area                 float64
FBI Code                        object
X Coordinate                   float64
Y Coordinate                   float64
Year                             int64
Updated On              datetime64[ns]
Latitude                       float64
Longitude                      float64
Location                        object
dtype: object

In [14]:
df["Date"] = pd.to_datetime(df['Date'],format='%m/%d/%Y %I:%M:%S %p')

In [17]:
df['Date']

__null_dask_index__
0         2015-09-05 13:30:00
1         2015-09-04 11:30:00
2         2018-09-01 00:01:00
3         2015-09-05 12:45:00
4         2015-09-05 13:00:00
                  ...
4999995   2010-01-07 21:30:00
4999996   2010-01-04 20:50:00
4999997   2010-01-07 21:45:00
4999998   2010-01-07 17:10:00
4999999   2010-01-07 22:05:00
Name: Date, Length: 7784664, dtype: datetime64[ns]

In [22]:
df = df.reset_index(drop=True)

In [24]:
df['Updated On'] = pd.to_datetime(df['Updated On'],format='%m/%d/%Y %I:%M:%S %p')

Load dataframe from google cloud storage

In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet("./data/extract/")

In [5]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,2015-09-05 13:30:00,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,2018-02-10 15:50:01,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,2015-09-04 11:30:00,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,2018-02-10 15:50:01,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,2019-04-06 16:04:43,NaN,NaN,None
3,10224740,HY411595,2015-09-05 12:45:00,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,2018-02-10 15:50:01,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,2015-09-05 13:00:00,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,2018-02-10 15:50:01,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [6]:
df.columnss

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [9]:
sum(df.duplicated())

0

In [10]:
## Count number of observations for each crime
df['Primary Type'].value_counts()

THEFT                                1642148
BATTERY                              1422913
CRIMINAL DAMAGE                       887266
NARCOTICS                             747633
ASSAULT                               507296
OTHER OFFENSE                         483642
BURGLARY                              424397
MOTOR VEHICLE THEFT                   375495
DECEPTIVE PRACTICE                    344940
ROBBERY                               292334
CRIMINAL TRESPASS                     214316
WEAPONS VIOLATION                     106418
PROSTITUTION                           69840
OFFENSE INVOLVING CHILDREN             55719
PUBLIC PEACE VIOLATION                 52325
SEX OFFENSE                            30683
CRIM SEXUAL ASSAULT                    27631
INTERFERENCE WITH PUBLIC OFFICER       18392
LIQUOR LAW VIOLATION                   14901
GAMBLING                               14618
ARSON                                  13249
HOMICIDE                               12548
KIDNAPPING                              7213
CRIMINAL SEXUAL ASSAULT                 6684
STALKING                                4789
INTIMIDATION                            4679
CONCEALED CARRY LICENSE VIOLATION       1080
OBSCENITY                                818
PUBLIC INDECENCY                         194
NON-CRIMINAL                             181
OTHER NARCOTIC VIOLATION                 149
HUMAN TRAFFICKING                        101
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: Primary Type, dtype: int64

In [11]:
## Check if any rows are missing data and are null
df['Year'].isnull().values.any()

False

In [12]:
## Count number of reported crimes for each year
df['Year'].value_counts()

2002    486802
2001    485878
2003    475979
2004    469421
2005    453771
2006    448174
2007    437084
2008    427167
2009    392819
2010    370496
2011    351964
2012    336262
2013    307468
2014    275731
2016    269786
2017    269071
2018    268773
2015    264755
2019    261245
2022    238215
2020    212092
2021    208571
2023     73140
Name: Year, dtype: int64

In [13]:
# What are the total missing values in the dataset ?
print("Number of Missing Values in the whole dataset : ", df.isna().sum().sum())

Number of Missing Values in the whole dataset :  1672996

In [14]:
# Let's count number of null entries per feature
missing_values = list(df.isna().sum())
# missing values is a list of the number of missing values in each column

cols = list(df.columns)
col_final = []
for i in range(len(cols)):
    if (missing_values[i] == 0):
        cols[i]="Others"
d = dict(zip(cols, missing_values)) # making a dicionary for the missing values

print("Number of Missing Values per feature >>")
missing_vals = pd.DataFrame(d, index=["Missing Values"]) # Making a custom dataframe from dict d
missing_vals.head()

Number of Missing Values per feature >>

,Others,Case Number,Location Description,District,Ward,Community Area,X Coordinate,Y Coordinate,Latitude,Longitude,Location
Missing Values,0,4,10381,47,614848,613476,86848,86848,86848,86848,86848

In [18]:
((df.shape[0]-1672996)*100) / df.shape[0]

78.5090788761082

In [19]:
# Continuous Variables
cont = df._get_numeric_data().columns
print("The continuous variables are: ",list(cont))

The continuous variables are:  ['ID', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'X Coordinate', 'Y Coordinate', 'Year', 'Latitude', 'Longitude']

In [20]:
# Categorical Variables
print("The categorical variables are: ",list(set(df.columns) - set(cont)))

The categorical variables are:  ['FBI Code', 'Block', 'IUCR', 'Description', 'Primary Type', 'Updated On', 'Case Number', 'Location', 'Location Description', 'Date']

In [23]:
df.dtypes

ID                               int64
Case Number                     object
Date                    datetime64[ns]
Block                           object
IUCR                            object
Primary Type                    object
Description                     object
Location Description            object
Arrest                            bool
Domestic                          bool
Beat                             int64
District                       float64
Ward                           float64
Community Area                 float64
FBI Code                        object
X Coordinate                   float64
Y Coordinate                   float64
Year                             int64
Updated On              datetime64[ns]
Latitude                       float64
Longitude                      float64
Location                        object
dtype: object

In [25]:
max(df['Ward'])

50.0

In [27]:
max(df['Community Area'])

77.0

Dataframe after transform from gcs

In [57]:
import pandas as pd

In [58]:
df = pd.read_parquet("./data/gcs/data/")

In [29]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,2015-09-05 13:30:00,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,2018-02-10 15:50:01,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,2015-09-04 11:30:00,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,2018-02-10 15:50:01,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,2019-04-06 16:04:43,NaN,NaN,None
3,10224740,HY411595,2015-09-05 12:45:00,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,2018-02-10 15:50:01,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,2015-09-05 13:00:00,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,2018-02-10 15:50:01,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [38]:
df['Case Number'] = df['Case Number'].astype(dtype='str')
len(set(df['Case Number']))

500000

In [39]:
df = df.dropna(how='any')

In [40]:
df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,2015-09-05 13:30:00,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,2018-02-10 15:50:01,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,2015-09-04 11:30:00,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,2018-02-10 15:50:01,41.895080,-87.765400,"(41.895080471, -87.765400451)"
3,10224740,HY411595,2015-09-05 12:45:00,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,2018-02-10 15:50:01,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,2015-09-05 13:00:00,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,2018-02-10 15:50:01,41.881903,-87.755121,"(41.881903443, -87.755121152)"
5,10224742,HY411435,2015-09-05 10:55:00,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,21.0,71.0,05,1168430.0,1850165.0,2015,2018-02-10 15:50:01,41.744379,-87.658431,"(41.744378879, -87.658430635)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,10966164,JA289035,2017-06-01 12:00:00,021XX N MOBILE AVE,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,29.0,19.0,05,1134062.0,1913623.0,2017,2018-02-10 15:50:01,41.919189,-87.782871,"(41.919188614, -87.782871328)"
499996,10966166,JA289017,2017-06-02 08:00:00,012XX S KILDARE AVE,0560,ASSAULT,SIMPLE,RESIDENCE,False,True,...,24.0,29.0,08A,1147914.0,1894021.0,2017,2018-02-10 15:50:01,41.865143,-87.732481,"(41.86514333, -87.732481131)"
499997,10966167,JA289025,2017-06-01 20:00:00,054XX S KILDARE AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,23.0,62.0,14,1148623.0,1868200.0,2017,2018-02-10 15:50:01,41.794273,-87.730543,"(41.794273306, -87.730543465)"
499998,10966172,JA288782,2017-06-01 23:15:00,051XX S UNION AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,3.0,61.0,08A,1172508.0,1870819.0,2017,2018-02-10 15:50:01,41.800967,-87.642881,"(41.800967148, -87.642880822)"
499999,10966177,JA289032,2017-06-01 22:00:00,028XX W 38TH ST,1310,CRIMINAL DAMAGE,TO PROPERTY,STREET,False,False,...,12.0,58.0,14,1158132.0,1879320.0,2017,2018-02-10 15:50:01,41.824600,-87.695371,"(41.824599765, -87.695371322)"

In [50]:
set(df['Location Description'])

{'ABANDONED BUILDING',
 'AIRCRAFT',
 'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
 'AIRPORT BUILDING NON-TERMINAL - SECURE AREA',
 'AIRPORT EXTERIOR - NON-SECURE AREA',
 'AIRPORT EXTERIOR - SECURE AREA',
 'AIRPORT PARKING LOT',
 'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA',
 'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA',
 'AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA',
 'AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA',
 'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA',
 'AIRPORT TRANSPORTATION SYSTEM (ATS)',
 'AIRPORT VENDING ESTABLISHMENT',
 'AIRPORT/AIRCRAFT',
 'ALLEY',
 'ANIMAL HOSPITAL',
 'APARTMENT',
 'APPLIANCE STORE',
 'ATHLETIC CLUB',
 'ATM (AUTOMATIC TELLER MACHINE)',
 'AUTO / BOAT / RV DEALERSHIP',
 'BANK',
 'BAR OR TAVERN',
 'BARBERSHOP',
 'BOAT/WATERCRAFT',
 'BOWLING ALLEY',
 'BRIDGE',
 'CAR WASH',
 'CEMETARY',
 'CHA APARTMENT',
 'CHA HALLWAY / STAIRWELL / ELEVATOR',
 'CHA HALLWAY/STAIRWELL/ELEVATOR',
 'CHA PARKING LOT / GROUNDS',
 'CHA PARKING LOT/GROUNDS',
 'CHURCH / SYNAGOGUE / PLACE OF WORSHIP',
 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP',
 'CLEANING STORE',
 'COIN OPERATED MACHINE',
 'COLLEGE/UNIVERSITY GROUNDS',
 'COLLEGE/UNIVERSITY RESIDENCE HALL',
 'COMMERCIAL / BUSINESS OFFICE',
 'CONSTRUCTION SITE',
 'CONVENIENCE STORE',
 'CREDIT UNION',
 'CTA BUS',
 'CTA BUS STOP',
 'CTA GARAGE / OTHER PROPERTY',
 'CTA PARKING LOT / GARAGE / OTHER PROPERTY',
 'CTA PLATFORM',
 'CTA STATION',
 'CTA TRACKS - RIGHT OF WAY',
 'CTA TRAIN',
 'CURRENCY EXCHANGE',
 'DAY CARE CENTER',
 'DEPARTMENT STORE',
 'DRIVEWAY - RESIDENTIAL',
 'DRUG STORE',
 'FACTORY / MANUFACTURING BUILDING',
 'FACTORY/MANUFACTURING BUILDING',
 'FEDERAL BUILDING',
 'FIRE STATION',
 'FOREST PRESERVE',
 'GAS STATION',
 'GOVERNMENT BUILDING / PROPERTY',
 'GOVERNMENT BUILDING/PROPERTY',
 'GROCERY FOOD STORE',
 'HIGHWAY/EXPRESSWAY',
 'HOSPITAL BUILDING / GROUNDS',
 'HOSPITAL BUILDING/GROUNDS',
 'HOTEL / MOTEL',
 'HOTEL/MOTEL',
 'JAIL / LOCK-UP FACILITY',
 'LAKEFRONT / WATERFRONT / RIVERBANK',
 'LAKEFRONT/WATERFRONT/RIVERBANK',
 'LIBRARY',
 'MEDICAL / DENTAL OFFICE',
 'MEDICAL/DENTAL OFFICE',
 'MOVIE HOUSE / THEATER',
 'MOVIE HOUSE/THEATER',
 'NEWSSTAND',
 'NURSING / RETIREMENT HOME',
 'NURSING HOME/RETIREMENT HOME',
 'OTHER',
 'OTHER (SPECIFY)',
 'OTHER COMMERCIAL TRANSPORTATION',
 'OTHER RAILROAD PROP / TRAIN DEPOT',
 'OTHER RAILROAD PROPERTY / TRAIN DEPOT',
 'PARK PROPERTY',
 'PARKING LOT / GARAGE (NON RESIDENTIAL)',
 'PARKING LOT/GARAGE(NON.RESID.)',
 'PAWN SHOP',
 'POLICE FACILITY / VEHICLE PARKING LOT',
 'POLICE FACILITY/VEH PARKING LOT',
 'POOL ROOM',
 'RESIDENCE',
 'RESIDENCE - GARAGE',
 'RESIDENCE - PORCH / HALLWAY',
 'RESIDENCE - YARD (FRONT / BACK)',
 'RESIDENCE PORCH/HALLWAY',
 'RESIDENCE-GARAGE',
 'RESIDENTIAL YARD (FRONT/BACK)',
 'RESTAURANT',
 'SAVINGS AND LOAN',
 'SCHOOL - PRIVATE BUILDING',
 'SCHOOL - PUBLIC BUILDING',
 'SCHOOL - PUBLIC GROUNDS',
 'SCHOOL, PRIVATE, BUILDING',
 'SCHOOL, PRIVATE, GROUNDS',
 'SCHOOL, PUBLIC, BUILDING',
 'SCHOOL, PUBLIC, GROUNDS',
 'SIDEWALK',
 'SMALL RETAIL STORE',
 'SPORTS ARENA / STADIUM',
 'SPORTS ARENA/STADIUM',
 'STREET',
 'TAVERN / LIQUOR STORE',
 'TAVERN/LIQUOR STORE',
 'TAXICAB',
 'VACANT LOT / LAND',
 'VACANT LOT/LAND',
 'VEHICLE - COMMERCIAL',
 'VEHICLE - DELIVERY TRUCK',
 'VEHICLE - OTHER RIDE SERVICE',
 'VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)',
 'VEHICLE - OTHER RIDE SHARE SERVICE (LYFT, UBER, ETC.)',
 'VEHICLE NON-COMMERCIAL',
 'VEHICLE-COMMERCIAL',
 'WAREHOUSE'}

In [54]:
df['Location Description']= df['Location Description'].str.replace('.', '')

C:\Users\USER\AppData\Local\Temp\ipykernel_26164\630749388.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  x = df['Location Description'].str.replace('.', '')

In [55]:
set(x)

{'ABANDONED BUILDING',
 'AIRCRAFT',
 'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
 'AIRPORT BUILDING NON-TERMINAL - SECURE AREA',
 'AIRPORT EXTERIOR - NON-SECURE AREA',
 'AIRPORT EXTERIOR - SECURE AREA',
 'AIRPORT PARKING LOT',
 'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA',
 'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA',
 'AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA',
 'AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA',
 'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA',
 'AIRPORT TRANSPORTATION SYSTEM (ATS)',
 'AIRPORT VENDING ESTABLISHMENT',
 'AIRPORT/AIRCRAFT',
 'ALLEY',
 'ANIMAL HOSPITAL',
 'APARTMENT',
 'APPLIANCE STORE',
 'ATHLETIC CLUB',
 'ATM (AUTOMATIC TELLER MACHINE)',
 'AUTO / BOAT / RV DEALERSHIP',
 'BANK',
 'BAR OR TAVERN',
 'BARBERSHOP',
 'BOAT/WATERCRAFT',
 'BOWLING ALLEY',
 'BRIDGE',
 'CAR WASH',
 'CEMETARY',
 'CHA APARTMENT',
 'CHA HALLWAY / STAIRWELL / ELEVATOR',
 'CHA HALLWAY/STAIRWELL/ELEVATOR',
 'CHA PARKING LOT / GROUNDS',
 'CHA PARKING LOT/GROUNDS',
 'CHURCH / SYNAGOGUE / PLACE OF WORSHIP',
 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP',
 'CLEANING STORE',
 'COIN OPERATED MACHINE',
 'COLLEGE/UNIVERSITY GROUNDS',
 'COLLEGE/UNIVERSITY RESIDENCE HALL',
 'COMMERCIAL / BUSINESS OFFICE',
 'CONSTRUCTION SITE',
 'CONVENIENCE STORE',
 'CREDIT UNION',
 'CTA BUS',
 'CTA BUS STOP',
 'CTA GARAGE / OTHER PROPERTY',
 'CTA PARKING LOT / GARAGE / OTHER PROPERTY',
 'CTA PLATFORM',
 'CTA STATION',
 'CTA TRACKS - RIGHT OF WAY',
 'CTA TRAIN',
 'CURRENCY EXCHANGE',
 'DAY CARE CENTER',
 'DEPARTMENT STORE',
 'DRIVEWAY - RESIDENTIAL',
 'DRUG STORE',
 'FACTORY / MANUFACTURING BUILDING',
 'FACTORY/MANUFACTURING BUILDING',
 'FEDERAL BUILDING',
 'FIRE STATION',
 'FOREST PRESERVE',
 'GAS STATION',
 'GOVERNMENT BUILDING / PROPERTY',
 'GOVERNMENT BUILDING/PROPERTY',
 'GROCERY FOOD STORE',
 'HIGHWAY/EXPRESSWAY',
 'HOSPITAL BUILDING / GROUNDS',
 'HOSPITAL BUILDING/GROUNDS',
 'HOTEL / MOTEL',
 'HOTEL/MOTEL',
 'JAIL / LOCK-UP FACILITY',
 'LAKEFRONT / WATERFRONT / RIVERBANK',
 'LAKEFRONT/WATERFRONT/RIVERBANK',
 'LIBRARY',
 'MEDICAL / DENTAL OFFICE',
 'MEDICAL/DENTAL OFFICE',
 'MOVIE HOUSE / THEATER',
 'MOVIE HOUSE/THEATER',
 'NEWSSTAND',
 'NURSING / RETIREMENT HOME',
 'NURSING HOME/RETIREMENT HOME',
 'OTHER',
 'OTHER (SPECIFY)',
 'OTHER COMMERCIAL TRANSPORTATION',
 'OTHER RAILROAD PROP / TRAIN DEPOT',
 'OTHER RAILROAD PROPERTY / TRAIN DEPOT',
 'PARK PROPERTY',
 'PARKING LOT / GARAGE (NON RESIDENTIAL)',
 'PARKING LOT/GARAGE(NONRESID)',
 'PAWN SHOP',
 'POLICE FACILITY / VEHICLE PARKING LOT',
 'POLICE FACILITY/VEH PARKING LOT',
 'POOL ROOM',
 'RESIDENCE',
 'RESIDENCE - GARAGE',
 'RESIDENCE - PORCH / HALLWAY',
 'RESIDENCE - YARD (FRONT / BACK)',
 'RESIDENCE PORCH/HALLWAY',
 'RESIDENCE-GARAGE',
 'RESIDENTIAL YARD (FRONT/BACK)',
 'RESTAURANT',
 'SAVINGS AND LOAN',
 'SCHOOL - PRIVATE BUILDING',
 'SCHOOL - PUBLIC BUILDING',
 'SCHOOL - PUBLIC GROUNDS',
 'SCHOOL, PRIVATE, BUILDING',
 'SCHOOL, PRIVATE, GROUNDS',
 'SCHOOL, PUBLIC, BUILDING',
 'SCHOOL, PUBLIC, GROUNDS',
 'SIDEWALK',
 'SMALL RETAIL STORE',
 'SPORTS ARENA / STADIUM',
 'SPORTS ARENA/STADIUM',
 'STREET',
 'TAVERN / LIQUOR STORE',
 'TAVERN/LIQUOR STORE',
 'TAXICAB',
 'VACANT LOT / LAND',
 'VACANT LOT/LAND',
 'VEHICLE - COMMERCIAL',
 'VEHICLE - DELIVERY TRUCK',
 'VEHICLE - OTHER RIDE SERVICE',
 'VEHICLE - OTHER RIDE SHARE SERVICE (EG, UBER, LYFT)',
 'VEHICLE - OTHER RIDE SHARE SERVICE (LYFT, UBER, ETC)',
 'VEHICLE NON-COMMERCIAL',
 'VEHICLE-COMMERCIAL',
 'WAREHOUSE'}

In [56]:
set(df['Primary Type'])

{'ARSON',
 'ASSAULT',
 'BATTERY',
 'BURGLARY',
 'CONCEALED CARRY LICENSE VIOLATION',
 'CRIM SEXUAL ASSAULT',
 'CRIMINAL DAMAGE',
 'CRIMINAL SEXUAL ASSAULT',
 'CRIMINAL TRESPASS',
 'DECEPTIVE PRACTICE',
 'GAMBLING',
 'HOMICIDE',
 'HUMAN TRAFFICKING',
 'INTERFERENCE WITH PUBLIC OFFICER',
 'INTIMIDATION',
 'KIDNAPPING',
 'LIQUOR LAW VIOLATION',
 'MOTOR VEHICLE THEFT',
 'NARCOTICS',
 'NON - CRIMINAL',
 'NON-CRIMINAL',
 'NON-CRIMINAL (SUBJECT SPECIFIED)',
 'OBSCENITY',
 'OFFENSE INVOLVING CHILDREN',
 'OTHER NARCOTIC VIOLATION',
 'OTHER OFFENSE',
 'PROSTITUTION',
 'PUBLIC INDECENCY',
 'PUBLIC PEACE VIOLATION',
 'ROBBERY',
 'SEX OFFENSE',
 'STALKING',
 'THEFT',
 'WEAPONS VIOLATION'}

In [60]:
df['Location'].str.strip('()')

0          41.815117282, -87.669999562
1          41.895080471, -87.765400451
2                                 None
3          41.937405765, -87.716649687
4          41.881903443, -87.755121152
                      ...
7784659     41.779791129, -87.61319788
7784660    41.758529857, -87.566364189
7784661     41.87607093, -87.734053156
7784662    41.938151196, -87.796189752
7784663     41.898154115, -87.64181288
Name: Location, Length: 7784664, dtype: object